:root {
    /* Fontes */
    --ff-arial: 'Arial', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    /* Cores */

    --clr-bg: #f9f9f9;
    --clr-text: #333;
    --clr-dark: #111;
    --clr-light: #fff;
    --clr-accent: #2563eb; /* azul exemplo */

    /* Espaçamento */

    --sp-section: 40px;
    --sp-card: 20px;

    /* Bordas */
    --br-card: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-bg);
    color: var(--clr-text);
    font-family: var(--ff-arial);
    transition: background 0.3s ease, color 0.3s ease;
}

/* Dark mode */
body.dark {
    --clr-bg: #111111;
    --clr-text: #f5f5f5;
    --clr-accent: #60a5fa;
}

#theme-toggle{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

#theme-toggle .icon{
    width: 22px;
    height: 22px;
}

/* Mostrar só o sol no light mode*/
.icon-moon { display: none;}
body.dark .icon-sun {display: none;}
body.dark .icon-moon {display: inline;}