* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}